.money-input{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 650px;
  
    &__name, &__value, &__button{
        margin: 0px 25px;
        border-radius: 10px;
        border: none;
        width: 150px;
        height: 30px;
        padding-left: 10px;
    }

    
    &__button{
        height: 32px;
        background-color: #e3afbc;
    }
}