.income{
    display: flex;
    width: 100%;
    justify-content: start;
    height: 100px;
    align-items: center;
    margin: 20px 0px 0px 150px;

    &__input{
        height: 30px;
        border-radius: 10px;
        font-size: 36px;
        box-shadow: none;
        border: none;
        color: black;
        display: flex;
        align-items: center;
    }

    &__button{
        margin-left: 18px;
        height: 32px;
        border-radius: 10px;
        border: none;
        color: rgb(0, 0, 0);
        width: 150px;
        background-color: #e3afbc;
      
    }
}

