.app {
  width: 100%;
  background-color: #e3e2df;
  height: 99vh;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__logo {
  margin-top: 25px;
  width: 50vw;
  --dot-bg: #e3e2df;
  --dot-color: #ee4c7c;
  --dot-size: 2px;
  --dot-space: 6px;

  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}
.container__income {
  margin-top: 25px;
}

.container__money_input {
  display: flex;
  justify-content: center;
}
